 <!-- Footer Links -->
 <div class="container text-center text-md-left mt-5 bg-light ">
    <div class="row mt-3 dark-grey-text">
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <h6 class="text-uppercase font-weight-bold">TechQuiz</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Suitable for various online Quiz Competition. Paper less System. More Accurate, Easy and more Freindly</p>
        </div>
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Team Memeber</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <a class="dark-grey-text" href="#!">Rohit Jarariya</a>
        </p>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <a class="dark-grey-text" href="#!">Home</a>
        </p>
        <p>
            <a class="dark-grey-text" href="#">Register</a>
        </p>
        <p>
            <a class="dark-grey-text" href="#">Login</a>
        </p>
        <p>
            <a class="dark-grey-text" href="#!">About Us</a>
        </p>
    </div>
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <i class="fas fa-home mr-3"></i> XYZ Colony, Bhopal</p>
        <p>
            <i class="fas fa-envelope mr-3"></i> TechQuiz@gmail.com</p>
        <p>
            <i class="fas fa-phone mr-3"></i> +91 1234123490</p>
        <p>
            <i class="fas fa-print mr-3"></i> +91 9999111180</p>
        </div>  
    </div>
</div>
<div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
    <a class="dark-grey-text" href=""> TechQuizApp</a>
</div>
  </footer>